body{

    font-family:Arial,sans-serif;

    background:#f4f6f9;

    margin:0;

    padding:40px;

}


.container{

    max-width:1000px;

    margin:auto;

    background:white;

    padding:30px;

    border-radius:15px;

    box-shadow:0 0 20px rgba(
    0,0,0,0.1);

}


h1{

    text-align:center;

    margin-bottom:30px;

}


h2{

    margin-top:30px;

}


.status-box,
.info-box,
.system-info,
.footer,
.official-link,
.result-card,
.latest-result{

    padding:20px;

    margin-top:20px;

    border-radius:10px;

    background:#f7f7f7;

}


.active-status{

    color:green;

    font-weight:bold;

    font-size:20px;

}


.result-card{

    margin-bottom:20px;

}


.latest-result{

    background:#e9f8ee;

}


a{

    text-decoration:none;

    font-weight:bold;

    color:#0077ff;

}


.footer{

    text-align:center;

}


@media(max-width:768px){

.container{

    padding:20px;

}

}